.checkout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
}
.checkout .cart-items {
  background-color: var(--light-theme);
  padding: 20px;
  border-radius: 5px;
}
.checkout .cart-menu div {
  background-color: var(--black);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.checkout .cart-items {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 98%;
  margin: 20px auto;
}

.checkout Form {
  width: 100%;
}

.checkout div {
  margin-bottom: 15px;
}

.checkout label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

Field[name="address"] {
  resize: vertical;
  height: 80px;
}

ErrorMessage {
  color: red;
  font-size: 14px;
}
.checkout .data-display {
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.checkout .data-display h2 {
  text-align: center;
  margin-bottom: 20px;
}

.checkout .data-display p {
  font-size: 16px;
  margin-bottom: 10px;
}

.checkout .data-display strong {
  font-weight: bold;
  margin-right: 10px;
}
